#headline {
    display: grid;
    grid-template-rows: 1.8fr 1fr;
    justify-items: center;
    height: minmax(auto, 30vh);
    padding-inline: var(--page-inline-padding);
    padding-block: 1rem;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(210, 248, 255, 1) 51%,
        rgba(229, 228, 251, 1) 100%
    );
    animation: fadeIn ease 2s;
}

#headline h1 {
    align-self: end;
    font-size: clamp(3rem, 7vw, 5rem);
    text-decoration: underline;
    animation: moveDown ease 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(0);
    }
}

/* CAROUSEL */

.carousel-wrapper {
    overflow: hidden;
    border: 2px solid var(--dark-one);
    box-shadow: inset 2rem 0 2.3rem -2rem rgba(0, 0, 0, 0.4),
        inset -2rem 0 2.3rem -2rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.7);
}

.carousel {
    display: flex;
    gap: 50px;
    left: -100%;
    padding: 0;
    position: relative;
    transform: translateX(300px);
    transition-property: transform;
}

@media (min-width: 30em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}
@media (min-width: 40em) {
    .carousel {
        left: -20%;
        transform: translateX(20%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
    flex: 1 0 100%;
    order: 2;
    min-width: 300px;
    max-width: 300px;
    display: grid;
    place-items: center;
}

.carousel-item {
    height: 150px;
    object-fit: contain;
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}
@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 20%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}
