{{ define "header" }}
    <link rel="stylesheet" href="/css/sponsors.css" type="text/css" media="all" />
    <style>
        .card {
            grid-template-rows: 3fr 1fr;
            place-items: start center;
            height: 300px;
        }
    </style>
{{ end }} 

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <hr />

    {{ .Content }}
    
    <br />

    <div class="card-grid sequential-fadein">
        {{ range .Pages.ByWeight }}

            <a class="card" href="{{ .RelPermalink }}">
                <img src="/img/logo/{{ .Params.logo }}" alt="{{ .Params.logo }}" />
                <h2 class="card-title">
                    {{ if .Params.Name }}
                        {{ .Params.Name}}
                    {{ else }}
                        {{ .Params.Title }}
                    {{ end }}
                </h2>
            </a>

        {{ end }}
    </div>
{{ end }}
