{{ define "header" }}
    <link rel="stylesheet" href="/css/sponsors.css" type="text/css" media="all" />
{{ end }} 

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <hr />

    {{ .Content }}
    
    <br />

    <div class="card-grid">
        {{ range .Pages.ByWeight }}

            <a class="card" href="{{ .RelPermalink }}">
                <img src="/img/logo/{{ .Params.logo }}" alt="{{ .Params.logo }}" />
                <h2 class="card-title">{{ .Params.Title }}</h2>
            </a>

        {{ end }}
    </div>
{{ end }}
