.site-nav {
    display: flex;
    justify-content: space-between;
    background: var(--dark-one);
    padding-inline: 1rem;
}


.site-nav a {
    padding: 1rem;
    white-space: nowrap;
    color: var(--light-one);
    text-decoration: none;
}

.site-nav a:is(:hover, :active, :focus) {
    background: rgb(55, 55, 55);    
}

.site-nav .logo {
    font-weight: bold;
}


#hamburger {
    background: var(--dark-one);
    border: none;
    padding: 0 .75em 0 0;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;

    display: none;
}

#hamburger > div {
    background: var(--light-one);
    width: 1.7rem;
    height: .15rem;
    border-radius: 0.075rem;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
}


#Home {
    display: none;
}

/* Bad practise, but easiest way */
.flex {
    display: flex !important;
}

@media (max-width: 64rem) {
    .site-nav {
        display: grid;
        grid-template-columns: auto auto;
    }

    .main-menu {
        display: none;
        grid-column: 1 / -1;
        justify-self: end;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: .3em;
    }

    .main-menu a {
        padding: .75rem;
        border-radius: .2em;
    }

    #hamburger {
        display: flex;
        justify-self: end;
    }

    #Home {
        display: inline;
    }
}