/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100svh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* VARIABLES */

:root {
    --dark-one: rgb(36, 36, 36);
    --light-one: rgb(105, 125, 151);
    --dark-two: rgb(79, 78, 78);
    --link-accent: rgb(0, 48, 208);
    --link-visited: rgb(105, 36, 171);
}


/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
}


/* Typesetting of site */

body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    line-height: 1.5;
    color: black;
}

.content {
    flex: 1;
    padding: 1rem 2rem 3rem 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

h1, h2, h3, hr {
    color: var(--dark-one)
}

a {
    color: var(--link-accent);
}

a:visited {
    color: var(--link-visited);
}

/* LISTS */

.post-snippet {
    margin-bottom: 1rem;
}

.post-snippet h3 {
    margin-bottom: 0.25rem;
}