/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100svh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* VARIABLES */

:root {
    --dark-one: rgb(36, 36, 36);
    --light-one: rgb(105, 125, 151);
    --dark-two: rgb(79, 78, 78);
    --link-accent: rgb(0, 48, 208);
    --link-visited: rgb(105, 36, 171);
    --accent-one: rgb(136, 183, 245);

    --page-inline-padding: clamp(1rem, 3vw, 2rem);
}


/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
}


/* Typesetting of site */

body {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    line-height: 1.5;
    color: black;
}

.content {
    flex: 1;
    padding-block: 1rem 3rem;
    padding-inline: var(--page-inline-padding);
}

/* .content::before {

    content: "";
    background: url(/img/pion-bg.png);
    inset: 0;
} */

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

h1, h2, h3, hr {
    color: var(--dark-one)
}

a {
    color: var(--link-accent);
}

a:visited {
    color: var(--link-visited);
}

/* PION marker for li items */

ul {
    margin-left: 1.5rem;
    padding-left: 0;
}

ul > li {
    list-style-type: none;
    position: relative;
}

ul > li:before {
    content: '';
    height: 1em;
    width: 1em;
    background-image: url('/img/chess-pawn-solid-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -1.2em;
    top: .15em;
}

/* MISC Styling */
#maps {
    max-width: 100vw;
}
