/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100svh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* VARIABLES */

:root {
    --dark-one: rgb(36, 36, 36);
    --light-one: rgb(105, 125, 151);
    --dark-two: rgb(79, 78, 78);
    --link-accent: rgb(0, 48, 208);
    --link-visited: rgb(105, 36, 171);
    --accent-one: rgb(136, 183, 245);

    --content-bg: rgba(250, 250, 250, 0.98);

    --page-inline-padding: clamp(1rem, 3vw, 2rem);
    --page-width: min(80rem, 100vw);

    --main-border-radius: 0.2rem;
    --large-border-radius: 0.8rem;
}

body {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr auto;
}

/* Font */

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("/font/OpenSans-Semibold.woff2") format("woff2"),
        url("/font/OpenSans-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), url("/font/OpenSans-Light.woff2") format("woff2"),
        url("/font/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/font/OpenSans-Bold.woff2") format("woff2"),
        url("/font/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/font/OpenSans-Italic.woff2") format("woff2"),
        url("/font/OpenSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
        url("/font/OpenSans-BoldItalic.woff2") format("woff2"), url("/font/OpenSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), url("/font/OpenSans.woff2") format("woff2"),
        url("/font/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Mono";
    src: url("/font/PTMono-Regular.woff2") format("woff2"), url("/font/PTMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Typesetting of site */

body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    color: var(--dark-one);
}

.content {
    position: relative;
    isolation: isolate;
    padding-block: 1rem 3rem;
    padding-inline: var(--page-inline-padding);
    width: var(--page-width);
    margin-inline: auto;
    margin-block: 5rem 2rem;
    z-index: 1;
    flex-grow: 1;
    background: var(--content-bg);
    border-radius: var(--large-border-radius);

    /* stolen from tailwind: shadow-lg */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    /* line-height: 1.75rem; */
}

body::before {
    position: fixed;
    inset: 0;
    content: "";
    /* opacity: 0.25; */
    /* background-color: black; */
    /* filter: invert(100%); */
    /* filter: hue-rotate(0deg) invert(100%); */
    z-index: -1;
    background-image: url("/img/pion-pi.jpg");
    background-repeat: round;
    background-position: 0 25%;
    background-size: contain;
}

.content p {
    text-align: justify;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--dark-one);
    text-wrap: balance;
}

h2,
h3 {
    line-height: 1.7em;
    color: var(--dark-one);
}

hr {
    color: var(--dark-one);
    margin-bottom: 0.4rem;
}

a {
    color: var(--link-accent);
}

a:visited {
    color: var(--link-visited);
}

/* Content Layout (if main image present) */

.main-cols {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3em;
}

.img-wrap {
    justify-self: end;
    animation: fadeIn ease 1s;
}

.img-wrap img {
    width: 500px;
    max-width: calc(100vw - 2 * var(--page-inline-padding));
    object-fit: contain;
    border-radius: 0.5rem;
}

@media (max-width: 64rem) {
    .main-cols {
        grid-template-columns: unset;
    }

    .img-wrap {
        justify-self: start;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* PION marker for li items */

ul {
    margin-left: 1.5rem;
    padding-left: 0;
}

ul > li {
    list-style-type: none;
    position: relative;
}

ul > li:before {
    content: "";
    height: 1em;
    width: 1em;
    background-image: url("/img/chess-pawn-solid-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -1.2em;
    top: 0.15em;
}

/* Blockquotes */

blockquote {
    background: hsl(0, 0%, 98%);
    border-left: 0.5rem solid var(--light-one);
    margin-block: 0.5rem;
    padding: 2em 1em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.2em;
}

blockquote p {
    display: inline;
    font-size: 1.1rem;
    animation: fadeIn 1s ease;
}

/* Card grid styling */

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    /* align-content: start; */
    padding-bottom: 0.5rem;
    border-radius: var(--main-border-radius);
    background: hsl(0, 0%, 97%);
    box-shadow: 0 0.3rem 0.3rem rgb(65, 67, 193, 0.1);
    text-decoration: none;
}

.card img {
    border-radius: var(--main-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    justify-self: center;
    object-position: 50% 50%;
    flex-grow: 1;
    object-fit: contain;
}

.card-title {
    align-self: start;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 0.5rem;
}

.card-description {
    padding: 0 0.5rem;
}

.sequential-fadein > * {
    transition: all 400ms ease;
    opacity: 0;
}

/* Button styling */

.btn, .btn:visited {
    margin-top: 0.3rem;
    padding: 0.5rem 0.8rem;
    background: rgb(65, 67, 193);
    color: white;
    border-radius: var(--main-border-radius);
    border: 2px solid rgb(65, 67, 193);
    text-decoration: none;
}

.btn:is(:hover, :active) {
    background: white;
    border: 2px solid rgb(65, 67, 193);
    color: rgb(65, 67, 193);
    text-decoration: none;
}

/* MISC Styling */
#maps {
    max-width: 100vw;
}

.visible {
    opacity: 1 !important;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--dark-one);
    padding: .5rem;
    text-align: start;
}

th {
    background-color: rgb(105, 125, 151);
    color: #fff;
}