.site-header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
}

.site-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 400ms ease-in-out;
    justify-content: space-between;
    padding-inline: var(--page-inline-padding);
    width: var(--page-width);
    margin-inline: auto;

    background: var(--dark-one);
}

@media (min-width: 80rem) {
    .site-nav {
        border-radius: 0 0 var(--large-border-radius) var(--large-border-radius);
    }
}

.site-nav a {
    padding: 1rem 1.25rem;
    white-space: nowrap;
    color: var(--accent-one);
    filter: brightness(125%);
    font-weight: 300;
    text-decoration: none;
}

.site-nav a:is(:hover, :active, :focus) {
    background: rgb(55, 55, 55);
}

.site-nav .logo {
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.logo img {
    height: 1rem;
    width: 1rem;
    fill: var(--light-one);
}

#hamburger {
    background: var(--dark-one);
    border: none;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    display: none;
    justify-self: end;
    padding-right: 0.75rem;
}

#hamburger > div {
    background: var(--light-one);
    width: 1.7rem;
    height: 0.15rem;
    border-radius: 0.075rem;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.active {
    color: white !important;
}

#Home {
    display: none;
}

/* To be applied to .site-nav */
.main-menu-visible {
    grid-template-rows: auto 1fr;
}

@media (max-width: 72rem) {
    .main-menu {
        grid-column: 1 / -1;
        justify-self: end;
        flex-direction: column;
        align-items: flex-end;
        transition: all 400ms ease;
    }

    .main-menu a {
        padding: 0.75rem;
        border-radius: var(--main-border-radius);
        opacity: 0;
    }

    .main-menu a:last-child {
        margin-bottom: calc(var(--page-inline-padding) - 1rem);
    }

    #hamburger {
        display: flex;
    }

    #Home {
        display: inline;
    }
}
