/* Single article view styling */

.article-footer {
    width: 100%;
    bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-footer #prev {
    justify-self: start;
    grid-column: 1;
}

.article-footer #news {
    justify-self: center;
    grid-column: 2;
}

.article-footer #next {
    justify-self: end;
    grid-column: 3;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
