/* List-of-articles styling */
.article-list {
    padding: 1rem;
    border-radius: .2rem;
    margin-bottom: 2rem;
    background: hsl(0, 0%, 97%);
    box-shadow: 0 .3rem .3rem rgb(65, 67, 193, 0.1);      
}

.article-list a {
    color: inherit;
    text-decoration: none;
}

.article-list a:is(:hover, :active) {
    text-decoration: underline;
}

.meta {
    color: var(--dark-two)
}


/* "Read more" Buttons */
.article-list .btn {
    display: block;
    width:max-content;
    margin-top: .3rem;
    padding: .5rem .8rem;
    background: rgb(65, 67, 193);
    color: white;
    border-radius: .25rem;
    border: 2px solid rgb(65, 67, 193);
}


.article-list .btn:is(:hover, :active) {
    background: white;
    border: 2px solid rgb(65, 67, 193);
    color: rgb(65, 67, 193);
    text-decoration: none;
}