.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 100%));
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    place-items: start center;
    height: 300px;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: hsl(0, 0%, 97%);
    box-shadow: 0 0.3rem 0.3rem rgb(65, 67, 193, 0.1);
    text-decoration: none;
}

.card:is(:hover:active) {
    background: hsl(0, 0%, 99%);
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-title:is(:hover, :active) {
    text-decoration: underline;
}

#main-sponsor-logo {
    max-width: 30vw;
    max-height: 12rem;
}
