{{ define "header" }}
    <style>
        .main-cols {
            display: grid;
            grid-template-columns: auto 1fr; 
            gap: 3em;
        }

        .img-wrap {
            justify-self: start;
        }

        .img-wrap img {
            max-width: 500px;
            object-fit: contain;
            border-radius: .5rem;
        }
    </style>
{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <hr>
    <br>
    <div class="main-cols">
        <div>
            {{ .Content }}
        </div>
        
        <figure class="img-wrap">
            <img src="/img/committee-main.jpg" alt="The PION Committee">
            <figcaption>From left to right: Reijer, Diene, Stella, Jord, Noël, Victor</figcaption>
        </figure>
    </div>
{{ end }}