{{ define "header" }}
<link
    rel="stylesheet"
    href="/css/reference-committee.css"
    type="text/css"
    media="all"
/>
{{ end }} 

{{ define "main" }}
<h1>{{ .Title }}</h1>
<hr />

{{ .Content }}

<br />
<div class="card-grid sequential-fadein">
    {{ range .Site.Data.reference_committee }}
        <div class="card">
            <img src="/img/ref/{{ .src }}" alt="{{ .name }}">
            <h2 class="card-title">{{ .name }}</h2>
            <i class="card-description">{{ .desc }}</i>
        </div>
    {{ end }}
</div>
{{ end }}
