{{ define "header"}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="/js/carousel.js"></script>
    <link rel="stylesheet" href="/css/index.css">
{{ end }}

{{define "submain"}}
	<div id="headline">
		<h1>PION Physics Olympiad 2023</h1>
		<i>PION is an annual interuniversity physics olympiad for bachelor and master students from all over the Netherlands.
		</i>
	</div>
{{end}}

{{ define "main" }}
	{{ .Content }}
	<br>

	{{- range ( where site.RegularPages "Section" "news" | first 1 )}}

		<a style="text-decoration: none;" href="{{ .Permalink }}">
			<h2>Latest News:
				{{.Title}}
			</h2>
		</a>
		<i>{{ .Param "summary" }}</i>
		<div class="meta">
			<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
				{{ .Date.Format "January 2, 2006" }}
			</time>
			&#x2022
												        By
			{{ .Param "author" }}
		</div>
		<a class="btn" href="{{ .RelPermalink }}">
			Read More
		</a>
	{{- end }}

	<br><br>

	<h2>Our Sponsors</h2>
	<div class="carousel-wrapper">
		<div class="carousel is-set">

			{{ range ( where site.RegularPages "Section" "sponsors" ) | shuffle }}

				<div class="carousel-seat">
					<img class="carousel-item" src="/img/logo/{{ .Params.logo}}" alt="">
				</div>

			{{ end }}

		</div>
	</div>


{{ end }}
