footer {
    background: var(--light-one);
}

.footer-content {
    width: var(--page-width);
    margin-inline: auto;
    padding: var(--page-inline-padding);
    color: white;
    display: flex;
    justify-content: space-between;
}

#nsa-logo {
    display: inline;
    height: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:is(:hover, :active) {
    text-decoration: underline;
}

@media (max-width: 40rem) {
    footer-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
