/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100svh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* VARIABLES */

:root {
    --dark-one: rgb(36, 36, 36);
    --light-one: rgb(105, 125, 151);
    --dark-two: rgb(79, 78, 78);
    --link-accent: rgb(0, 48, 208);
    --link-visited: rgb(105, 36, 171);
    --accent-one: rgb(136, 183, 245);

    --page-inline-padding: clamp(1rem, 3vw, 2rem);
}

/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
}

/* Typesetting of site */

body {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    line-height: 1.5;
    color: black;
}

.content {
    position: relative;
    isolation: isolate;
    flex: 1;
    padding: 1rem 3rem 1rem 1rem;
    padding-inline: var(--page-inline-padding);
    z-index: 1;
}

.content::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.05;
    background-image: url("/img/pion-pi.jpg");
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
    z-index: -1;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

h1,
h2,
h3,
hr {
    color: var(--dark-one);
    text-wrap: balance;
}

a {
    color: var(--link-accent);
}

a:visited {
    color: var(--link-visited);
}

/* PION marker for li items */

ul {
    margin-left: 1.5rem;
    padding-left: 0;
}

ul > li {
    list-style-type: none;
    position: relative;
}

ul > li:before {
    content: "";
    height: 1em;
    width: 1em;
    background-image: url("/img/chess-pawn-solid-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -1.2em;
    top: 0.15em;
}

/* Blockquotes */

blockquote {
    background: hsl(0, 0%, 98%);
    border-left: 0.5rem solid var(--light-one);
    margin-block: 0.5rem;
    padding: 2em 1em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.2em;
}
blockquote p {
    display: inline;
    font-size: 1.1rem;
    animation: fadeIn 1s ease;
}

/* MISC Styling */
#maps {
    max-width: 100vw;
}

.sequential-fadein > * {
    transition: all 400ms ease;
    opacity: 0;
}

.visible {
    opacity: 1 !important;
}